html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, img, strong, b, i, dl, dt, dd, ol, ul, li, footer, header, nav {
	margin: 0;
	padding: 0;
	border: 0;
}


body {
	background-color: #000;
	background-image: url('../images/stars.png');
	color: #a0a0a0;
	font: normal normal normal 62.5%/1.5 helvetica, arial, sans-serif;
	padding: 20px;
}

h1 {
	font-family: courier, monospace;
	font-size: 10em;
	color: orange;
	margin-top: 50px;
	line-height: 0.6;
}

ul {
	list-style: none;
	overflow: hidden;
	font-size: 2em;
}

ul>li {
	/*width: 100px;*/
	margin: 10px 0;
	/*padding-left: 20px;*/
	float: left;
	background: #000;
}

ul>li a {
	text-decoration: none;
	color: #fff;
	background: #413C38;
	text-align: center;
	padding: 5px;
}
ul>li a:hover {
	color: orange;
}